{{ $url := ((.Get 0) | default "") }}
{{ $type := ((.Get 1) | default "") }}
{{ $lang := ($.Site.Language.Lang) }}
{{ $ts := (now.Unix) }}
{{ $sc := (.Name) }}
{{ $headers := (dict
"User-Agent" (($.Site.Data.api.user_agent) | default "")
) }}

{{ $data := (getJSON ($url) "?ts=" ($ts) ($headers)) }}

<div class="shortcode shortcode-{{ ($sc) }} mb-3">
  <div class="row row-cols-1 g-3">

    <!--[ organization ]-->
      {{ if (eq ($type) ("organization")) }}
        <div class="col">
          <div class="row row-cols-1 row-cols-lg-1 g-3">
            <div class="col">
              <div class="card">
                <h5 id="{{ ($sc) }}-organization-general" class="card-header">
                  <a href="#{{ ($sc) }}-organization-general">{{ (i18n "requisites.organization.header.general") }}</a>
                </h5>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">

                    <div class="col">{{ (i18n "requisites.organization.name.full") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-building fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).name.full) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.name.short") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-building fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).name.short) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.address.legal") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).address.legal) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.address.location") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).address.location) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.address.mailing") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).address.mailing) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.ogrn") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).ogrn) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.inn") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).inn) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.kpp") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).kpp) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.email") }}</div>
                    <div class="col">
                      <div class="row row-cols-1 g-3">
                          {{ range ((index ($data.organization) ($lang)).contacts.email) }}
                            <div class="col">
                              <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope-open-text fa-fw"></i></span>
                                <input class="form-control" type="text" value="{{ . }}" readonly/>
                              </div>
                            </div>
                          {{ end }}
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.phone") }}</div>
                    <div class="col">
                      <div class="row row-cols-1 g-3">
                          {{ range ((index ($data.organization) ($lang)).contacts.phone) }}
                            <div class="col">
                              <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-phone fa-fw"></i></span>
                                <input class="form-control" type="text" value="{{ . }}" readonly/>
                              </div>
                            </div>
                          {{ end }}
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.site") }}</div>
                    <div class="col">
                      <div class="row row-cols-1 g-3">
                          {{ range ((index ($data.organization) ($lang)).contacts.site) }}
                            <div class="col">
                              <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-globe fa-fw"></i></span>
                                <input class="form-control" type="text" value="{{ . }}" readonly/>
                              </div>
                            </div>
                          {{ end }}
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.director") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-tie fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).staff.director) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.accountant") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-cog fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).staff.accountant) }}" readonly/>
                      </div>
                    </div>

                    <div class="col">{{ (i18n "requisites.organization.accountant_deputy") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-cog fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).staff.accountant_deputy) }}" readonly/>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 id="{{ ($sc) }}-organization-codes" class="card-header">
                  <a href="#{{ ($sc) }}-organization-codes">{{ (i18n "requisites.organization.header.codes") }}</a>
                </h5>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">

                    <!--[ code-okpo ]-->
                    <div class="col">{{ (i18n "requisites.organization.okpo") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okpo) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okpo ]-->

                    <!--[ code-oktmo ]-->
                    <div class="col">{{ (i18n "requisites.organization.oktmo") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.oktmo) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-oktmo ]-->

                    <!--[ code-okved ]-->
                    <div class="col">{{ (i18n "requisites.organization.okved") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okved) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okved ]-->

                    <!--[ code-okogu ]-->
                    <div class="col">{{ (i18n "requisites.organization.okogu") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okogu) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okogu ]-->

                    <!--[ code-okfs ]-->
                    <div class="col">{{ (i18n "requisites.organization.okfs") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okfs) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okfs ]-->

                    <!--[ code-okopf ]-->
                    <div class="col">{{ (i18n "requisites.organization.okopf") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okopf) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okopf ]-->

                    <!--[ code-okato ]-->
                    <div class="col">{{ (i18n "requisites.organization.okato") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).codes.okato) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / code-okato ]-->

                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 id="{{ ($sc) }}-organization-bank" class="card-header">
                  <a href="#{{ ($sc) }}-organization-bank">{{ (i18n "requisites.organization.header.bank") }}</a>
                </h5>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">

                    <!--[ bank-name ]-->
                    <div class="col">{{ (i18n "requisites.organization.bank") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-university fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).bank.name) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / bank-name ]-->

                    <!--[ bank-bic ]-->
                    <div class="col">{{ (i18n "requisites.organization.bic") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).bank.bic) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / bank-bic ]-->

                    <!--[ bank-account-current ]-->
                    <div class="col">{{ (i18n "requisites.organization.account.current") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-credit-card fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).bank.account.current) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / bank-account-current ]-->

                    <!--[ bank-account-correspondent ]-->
                    <div class="col">{{ (i18n "requisites.organization.account.correspondent") }}</div>
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-credit-card fa-fw"></i></span>
                        <input class="form-control" type="text" value="{{ ((index ($data.organization) ($lang)).bank.account.correspondent) }}" readonly/>
                      </div>
                    </div>
                    <!--[ / bank-account-correspondent ]-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    <!--[ / organization ]-->

    <!--[ bank-account ]-->
      {{ if (eq ($type) ("bank-account")) }}
        <div class="col">
          <div class="row row-cols-1 g-3">

              {{ with ((index ($data.bank) ($lang)).account) }}
                  {{ range $key, $value := . }}

                    <div class="col">
                      <div class="card h-100">
                        <h5 id="{{ ($sc) }}-bank-{{ ($key) }}" class="card-header">
                          <a href="#{{ ($sc) }}-bank-{{ ($key) }}">{{ i18n "requisites.bank.account.header" }} /
                            <span class="text-uppercase">{{ ($key) }}</span>
                          </a>
                        </h5>
                        <div class="card-body">
                          <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">

                              {{ with (.beneficiary.name) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.beneficiary.name" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.beneficiary.account) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.beneficiary.account" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-wallet fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.beneficiary.bank) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.beneficiary.bank" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-university fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.beneficiary.swift) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.beneficiary.swift" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.intermediary.bank) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.intermediary.bank" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-university fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.intermediary.account) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.intermediary.account" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-wallet fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.intermediary.swift) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.intermediary.swift" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.bic) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.bic" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.inn) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.inn" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.kpp) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.kpp" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-hashtag fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.correspondent.account) }}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.correspondent.account" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-wallet fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                              {{ with (.target)}}
                                <div class="col">{{ (i18n (printf "requisites.bank.account.%s.target" ($key))) }}</div>
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-paper-plane fa-fw"></i></span>
                                    <input class="form-control" type="text" value="{{ . }}" readonly/>
                                  </div>
                                </div>
                              {{ end }}

                          </div>
                        </div>
                      </div>
                    </div>

                  {{ end }}
              {{ end }}

          </div>
        </div>
      {{ end }}
    <!--[ / bank-account ]-->

  </div>
</div>
